body {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 1.05rem;
  }
  .logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  a {
    text-decoration: none;
    color: #ee9b00;
    font-size: 1.05rem;
  }
  nav {
    background-color: #001219;
    border-bottom: solid #ee9b00;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    justify-content: space-evenly;
    display: flex;
  }
  a:hover {
    color: #e9d8a6;
  }
  h2 {
    width: 12%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    padding-left: 2rem;
    font-size: 2rem;
    border-left: solid #ee9b00 0.2rem;
  }
  p a {
    font-weight: bold;
    color: #7a4f00;
  }
  section {
    width: 55%;
    /* background-color: #fdfdfa; */
    border-left: solid #ee9b00 0.2rem;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    padding-left: 2rem;
    text-indent: 2rem;
  }
  hr {
    border-top: solid #ee9b00 0.05rem;
  }
  #social_media {
    background-color: #001219;
    border-top: solid #ee9b00;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  button {
    background-color: #0a0a0a;
    border: #ee9b00 solid 0.05rem;
    border-radius: 10%;
  }
  footer {
    text-align: center;
    color: black;
  }